@{
    ViewData["Title"] = "Home Page";
    //@ViewBag.message;
    //@ViewBag.nom;

    //@ViewData["nom"];
    //@ViewData["prenom"];
     @ViewData["age"];
     <p>
     
     </p>
     <br>
     @TempData["age"];

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
hooooooooooooooommmmmeeeeee